<!DOCTYPE html>
<html>
  <head>
    <title>SerpRankChecker.com | Free Google SERP checker | Google SERP Tool</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />


    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.0.3/css/font-awesome.min.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/knockout/3.0.0beta/knockout.js"></script>

         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/2013/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"/></script>


    <script src="http://xoxco.com/2013/js/jQuery-Tags-Input/jquery.tagsinput.js"/></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>


    <script type="text/javascript">
        var tracking = <%- tracking %>

    </script>

  </head>
  <body>
    <h1>Google SERP Rank Checker</h1>
    <h3>Search engine rank position checker</h3>
    
<div class="container">
<div class="row">

<div class="col-md-4">
  <div class="">
<h3>Websites</h3>
<ul class="list-unstyled" data-bind="foreach: Models.Websites.all">
      <!-- ko if: $data != null && $data.website != '' -->
<li>
<div class="col-md-8">
  <a href="#" data-bind="text: $data.website, click:$root.ViewModels.Websites.graph"></a>
</div>
<div class="col-md-4">


<a class="btn btn-danger btn-xs" href="#" data-bind="click:$root.ViewModels.Websites.delete">
  <i class="fa fa-trash-o fa-lg btn-xs"></i> Delete</a>

</div>
</li>
  <!-- /ko -->
</ul>

</div>
</div>

<div class="col-md-8">
  <div style="text-align:left">
<b>Stats </b>
<span data-bind="text: Models.Websites.single().website">

</span>
</div>


<table class="table table-striped">
<thead>
<tr>
  <th>Date</th>
  <th>Position</th>
</tr>
</thead>
<tbody>


</tbody>
</table>



</div>


</div>
</div><!-- CONTAINER-->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Setup Rank Tracking</h4>
      </div>
      <div class="modal-body row">
    <div class="col-md-6">
Domain : <a data-bind="text: Models.Track.single().domain"></a> <br/>
Keywords : <a data-bind="text: Models.Track.single().keywords"></a>


</div> <!-- END 6 -->

    <div class="col-md-6">
<script src="/js/paypal-button.min.js?merchant=mbejda@live.com" 
    data-button="subscribe" 
    data-name="Subscribe" 
    data-amount="120" 
    data-currency="USD" 
    data-recurrence="1" 
    data-period="M" 
    data-callback="http://rankserpchecker.com" 
    data-env="sandbox"
></script>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<script>


</script>
    <script src="/js/script.js"/></script>

  </body>
</html>